.candidates{
    padding: 0 16px;
    padding-top: 22px;

    &__header{
        padding-top: 42px;
        display: flex;
        align-items: center;
        gap: 13px;
        margin-bottom: 15px;
    }
    &__title{
        color: #0B68FF;
        font-size: 14px;
        font-weight: 500;
    }
    &__line{
        width: 210px;
        border-top: 1px dashed #97ABC3;
    }

    &__items{
        overflow-y: scroll;
        margin-bottom: 29px;
    }

    &__button{
        background: #0B68FF;
        border-radius: 8px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding:18.5px 0;
        width: 100%;
        text-align: center;
    }
}